/*  Start Global Style Section */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  /* Small  */
  /* Medium */
  /* Large */
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1150px;
  }
}

/*  End Global Style Section */
/*   Start Style Section one */
/* Start Header */
.header {
  padding: 15px;
}
.header .container {
  display: flex;
  justify-content: space-between;
}
.header .logo {
  width: 60px;
}
.header .list {
  position: relative;
}
.header .list .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .list .icon span {
  background-color: #444242;
  margin-bottom: 5px;
  height: 2px;
}
.header .list .icon span:first-child {
  width: 100%;
}
.header .list .icon span:nth-child(2) {
  width: 50%;
  transition: 0.5s;
}
.header .list .icon span:last-child {
  width: 100%;
}
.header .list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #ece9e9;
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
  z-index: 1;
}
.header .list ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: 0.5s;
}
.header .list ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
.header .list:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .list:hover ul {
  display: block;
}
.header .list:hover ul li a:hover {
  padding-left: 25px;
}

/* End Header */
/* Start Section */
.Section-One {
  background-image: url("../Media/landing.jpg");
  background-size: cover;
  position: relative;
  height: calc(100vh - 64px);
}
.Section-One .intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 350px;
  max-width: 100%;
}
.Section-One .intro h1 {
  margin: 0;
  font-weight: bold;
  font-size: 50px;
  color: #10cab7;
}
.Section-One .intro p {
  font-size: 20px;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .Section-One .intro h1 {
    font-size: 60px;
    margin-bottom: -35px;
  }
  .Section-One .intro h1 p {
    font-size: 15px;
  }
}

/* End Section */
/*   End Style Section one */
/*   Start Style Section two */
/*   End Style Section two */
/*   Start Style Section three */
/*   End Style Section three */
/*   Start Style Section four */
/*   End Style Section four */
/*   Start Style Section five */
.about {
  padding: 20px;
  margin-bottom: 100px;
}
.about .container .h1 {
  color: #ebeced;
  font-size: 90px;
  font-weight: 900;
  text-align: center;
  margin-bottom: -55px;
}
.about .container .h1 + p {
  color: #858585;
  font-size: 20px;
  text-align: center;
}
@media (max-width: 767px) {
  .about .container .h1 {
    font-size: 60px;
    margin-bottom: -35px;
  }
  .about .container .h1 + p {
    font-size: 15px;
  }
}
.about .container .text-parent {
  margin-top: 100px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: "div-image div-text";
  justify-content: space-between;
  align-content: center;
  gap: 250px;
  /* Meduim Screens */
  /* Small screens */
}
.about .container .text-parent .image {
  width: 230px;
  height: 345px;
  grid-area: div-image;
  position: relative;
}
.about .container .text-parent .image img {
  width: 100%;
}
.about .container .text-parent .image::after {
  content: "";
  background-color: #dcdcdc;
  width: 100px;
  height: calc(100% + 80px);
  position: absolute;
  top: -40px;
  left: -20px;
  z-index: -1;
}
.about .container .text-parent .image::before {
  content: "";
  width: 120px;
  height: 80%;
  border-left: 80px solid #10cab7;
  border-bottom: 80px solid #10cab7;
  position: absolute;
  top: -40px;
  right: -140px;
  z-index: -1;
}
.about .container .text-parent .text {
  grid-area: div-text;
  margin-top: -20px;
}
.about .container .text-parent .text .child-1 {
  font-weight: bold;
  font-size: 17px;
  line-height: 2;
  margin-bottom: 50px;
  position: relative;
}
.about .container .text-parent .text .child-1::after {
  content: "";
  background-color: #10cab7;
  width: 300px;
  height: 2px;
  position: absolute;
  left: 0px;
  bottom: -55px;
}
.about .container .text-parent .text .child-2 {
  color: #777;
  font-size: 17px;
  line-height: 2;
  padding-top: 30px;
}
@media (max-width: 991px) {
  .about .container .text-parent {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 90%;
    margin: auto;
    margin-top: 70px;
  }
  .about .container .text-parent .image {
    width: 190px;
    height: 300px;
    margin-bottom: -200px;
  }
  .about .container .text-parent .image::after, .about .container .text-parent .image::before {
    display: none;
  }
  .about .container .text-parent .text {
    text-align: center;
  }
  .about .container .text-parent .text .child-1 {
    font-size: 16px;
  }
  .about .container .text-parent .text .child-1::after {
    content: "";
    background-color: #10cab7;
    width: 50%;
    height: 2px;
    position: absolute;
    left: 25%;
    bottom: -55px;
  }
  .about .container .text-parent .text .child-2 {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .about .container .text-parent .image {
    width: 170px;
    height: 280px;
    margin-bottom: -220px;
  }
  .about .container .text-parent .text .child-1 {
    font-size: 14px;
  }
  .about .container .text-parent .text .child-2 {
    font-size: 14px;
  }
}

/*   End Style Section five */
/*   Start Style Section six*/
.contact {
  padding: 20px 0px;
  height: 480px;
  background-color: #f6f6f6;
}
.contact .container {
  text-align: center;
  margin-top: -20px;
}
.contact .container .h1 {
  color: #ebeced;
  font-size: 90px;
  font-weight: 900;
  text-align: center;
  margin-bottom: -55px;
}
.contact .container .h1 + p {
  color: #858585;
  font-size: 20px;
  text-align: center;
}
@media (max-width: 767px) {
  .contact .container .h1 {
    font-size: 60px;
    margin-bottom: -35px;
  }
  .contact .container .h1 + p {
    font-size: 15px;
  }
}
.contact .container .links {
  margin-top: 90px;
  /* Meduim Screens */
  /* Small Screens */
}
.contact .container .links p {
  color: #2c4755;
  font-size: 35px;
  font-weight: 800;
  word-spacing: -2px;
  letter-spacing: -2px;
  margin-bottom: 6px;
}
.contact .container .links a {
  color: #10cab7;
  font-size: 33px;
  font-weight: 800;
  text-decoration: none;
}
.contact .container .links .icons {
  margin-top: 15px;
  word-spacing: 0px;
}
.contact .container .links .icons i {
  padding: 0px 3px;
  color: #2c4755;
}
@media (max-width: 991px) {
  .contact .container .links p {
    font-size: 32px;
  }
  .contact .container .links a {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .contact .container .links p {
    font-size: 25px;
  }
  .contact .container .links a {
    font-size: 23px;
  }
  .contact .container .links .icons {
    font-size: small;
  }
}

footer {
  text-align: center;
  padding: 30px;
  background-color: #2c4755;
  color: white;
  font-size: 17px;
}
footer span {
  color: #10cab7;
  font-weight: bold;
}

/*   End Style Section six *//*# sourceMappingURL=style.css.map */