/*  Start Global Style Section */
*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Work Sans", sans-serif;
}
@mixin max-width($size)
{
    @media (max-width: $size)
    {
        @content
    }
};
@mixin min-width($size)
{
    @media (min-width: $size)
    {
        @content
    }
};

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;

     /* Small  */
    @include min-width(768px){
        width: 750px;
    }
     /* Medium */
    @include min-width(992px) {
        width: 970px;
    }
     /* Large */
    @include min-width(1200px) {
        width: 1150px;
    }
}
/*  End Global Style Section */

/*   Start Style Section one */
    /* Start Header */
    .header {
        padding: 15px;

        .container{
            display: flex;
            justify-content: space-between;
        }

        .logo {
            width: 60px;
        }

        .list{
            position: relative;
            .icon{
                width: 30px;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;

                span{
                    background-color: #444242;
                    margin-bottom: 5px;
                    height: 2px;
                }
                span:first-child{
                    width: 100%;
                }
                span:nth-child(2){
                    width: 50%;
                    transition: 0.5s;
                }
                span:last-child{
                    width: 100%;
                }
            }
            ul{
                list-style: none;
                margin: 0;
                padding: 0;
                background-color: #ece9e9;
                position: absolute;
                right: 0;
                min-width: 200px;
                top: calc(100% + 15px);
                display: none;
                z-index: 1;

                li a{
                    display: block;
                    padding: 15px;;
                    text-decoration: none;
                    color: #333;
                    transition: 0.5s;
                }

                &::before{
                    content: "";
                    border-width: 10px;
                    border-style: solid;
                    border-color: transparent transparent #f6f6f6 transparent;
                    position: absolute;
                    right: 5px;
                    top: -20px;
                }
            }
            &:hover{
                .icon span:nth-child(2){
                    width: 100%;
                }

                ul{
                    display: block;
                    li a:hover {
                        padding-left : 25px;
                    }
                }
            }
        }
    }
    /* End Header */

    /* Start Section */
    .Section-One{
        background-image: url("../Media/landing.jpg");
        background-size: cover;
        position: relative;
        height: calc(100vh - 64px);
    
        .intro{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            width: 350px;
            max-width: 100%;
    
            h1{
                margin: 0;
                font-weight: bold;
                font-size: 50px;
                color: #10cab7;
            }
    
            p{
                font-size: 20px;
                line-height: 1.5;
            }
    
            @include max-width(767px){
                h1
                {
                    font-size: 60px;
                    margin-bottom: -35px;
                    p
                    {
                        font-size: 15px;
                    }
                }
            }
        }
    }
    /* End Section */
/*   End Style Section one */

/*   Start Style Section two */
.box{
    padding: 40px 0px;
    background-color:gainsboro;
    .container{
     display: grid;
     grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
     
     
     .block{
         padding: 20px;
         text-align: center;
         i{
             color: #10cab7;
             font-size: 55px;
             margin-bottom: 10px;
         }
         h3{
             font-weight: bolder;
             font-size: 20px;
             line-height: 1.5;
         }
         p{
             font-size: 16px;
             color: #9c9999;
             line-height: 1.5;
             
         }
     }
    }
 }

/*   End Style Section two */

/*   Start Style Section three */

/*   End Style Section three */

/*   Start Style Section four */

/*   End Style Section four */

/*   Start Style Section five */

/*   End Style Section five */

/*   Start Style Section six*/

/*   End Style Section six */